/Editor - Apache netBeans IDE 23/SistemNotes/nbproject/private/
/Editor - Apache netBeans IDE 23/SistemNotes/build/
/Editor - Apache netBeans IDE 23/AppletSimulado/nbproject/private/
/Editor - Apache netBeans IDE 23/AppletSimulado/build/
/Editor - Apache netBeans IDE 23/AppletsSoluciones/nbproject/private/
/Editor - Apache netBeans IDE 23/AppletsSoluciones/build/
